.icon {
  color: #fff;
  font-size: 15pt !important;
  display: block;
  transition: all ease-in-out 200ms;
}

.icon:hover {
  opacity: 0.6;
  transform: scale(1.5);
  cursor: pointer;
  transition: all ease-in-out 200ms;
}

li {
  margin: 30px 0;
}

.active {
  transform: scale(1.5) !important;
  color: #e09956;
}
